<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuniu.qms.qs.dao.KcpTypeMapper">
	<insert id="add" parameterType="com.tuniu.qms.qs.model.KcpType">
		INSERT INTO qs_kcp_type (
			<if test="name != null">name,</if>
			<if test="addPerson != null">addPerson,</if>
			<if test="updatePerson != null">updatePerson,</if>
			delFlag
		) VALUES (
			<if test="name != null">#{name},</if>
			<if test="addPerson != null">#{addPerson},</if>
			<if test="updatePerson != null">#{updatePerson},</if>
			0
		)
	</insert>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM qs_kcp_type WHERE id=#{id}
	</delete>
	
	<update id="update" parameterType="com.tuniu.qms.qs.model.KcpType" flushCache="true" statementType="PREPARED">
		UPDATE qs_kcp_type 
		<set>
			<if test="name != null">name=#{name},</if>
			<if test="updatePerson != null">updatePerson=#{updatePerson},</if>
			<if test="delFlag != null">delFlag=#{delFlag},</if>
			updateTime=CURRENT_TIMESTAMP
		</set>
		WHERE id=#{id}
	</update>
	
	<select id="get" parameterType="Integer" resultType="com.tuniu.qms.qs.model.KcpType">
		SELECT * FROM qs_kcp_type WHERE id=#{id} and delFlag = 0
	</select>

	<sql id="listSql">
		SELECT * from qs_kcp_type
		<where>
			delFlag=0 
			<if test="id != null and id!=''">AND id=#{id}</if>
		</where>
	</sql>
	
	<select id="list" parameterType="com.tuniu.qms.qs.dto.KcpTypeDto" resultType="com.tuniu.qms.qs.model.KcpType">
		<include refid="listSql"/>
		ORDER BY id 
		
	</select>
	
	<select id="count" parameterType="com.tuniu.qms.qs.dto.KcpTypeDto" resultType="Integer">
		SELECT COUNT(1) FROM(
			<include refid="listSql"></include>
		) t
		
	</select>
	
	<select id="getKcpTypeIsExist" parameterType="com.tuniu.qms.qs.dto.KcpTypeDto" resultType="Integer">
	
	    select count(*) from qs_kcp_type where name = #{name} and delFlag = 0
	  
	</select>
	
</mapper>