<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>      
            org.springframework.web.context.request.RequestContextListener  
        </listener-class>  
  </listener>
  <filter>
    <filter-name>struts-cleanup</filter-name>
    <filter-class>
            org.apache.struts2.dispatcher.ActionContextCleanUp
        </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts-cleanup</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/frm/action/*</url-pattern>
    <url-pattern>/frm/ajax/*</url-pattern>
    <url-pattern>/frm/webservice/*</url-pattern>
    <url-pattern>/complaint/action/*</url-pattern>
    <url-pattern>/complaint/ajax/*</url-pattern>
    <url-pattern>/complaint/webservice/*</url-pattern>
    <url-pattern>/warning/action/*</url-pattern>
    <url-pattern>/innerqc/action/*</url-pattern>
    <url-pattern>/score/action/*</url-pattern>
    <url-pattern>/callloss/action/*</url-pattern>
    <url-pattern>/punishprd/action/*</url-pattern>
    <url-pattern>/wo/action/*</url-pattern>
    <url-pattern>/ts/action/*</url-pattern>
    <url-pattern>/rv/action/*</url-pattern>
    <url-pattern>/tac/action/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>XmlRpcServlet</servlet-name>
    <servlet-class>com.tuniu.gt.frm.webservice.uc.XmlRpcServlet</servlet-class>
    <init-param>
      <param-name>enabledForExtensions</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>XmlRpcServlet</servlet-name>
    <url-pattern>/frm/xmlrpc/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ComplaintXmlRpcServlet</servlet-name>
    <servlet-class>com.tuniu.gt.complaint.webservice.ComplaintXmlRpcServlet</servlet-class>
    <init-param>
      <param-name>enabledForExtensions</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplaintXmlRpcServlet</servlet-name>
    <url-pattern>/complaint/xmlrpc/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RestfulServlet</servlet-name>
    <servlet-class>com.tuniu.gt.complaint.restful.RestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestfulServlet</servlet-name>
    <url-pattern>/restful/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>rest</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>rest</servlet-name>
    <url-pattern>/restfulserver/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>satisfaction</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>satisfaction</servlet-name>
    <url-pattern>/satisfactionserver/*</url-pattern>
  </servlet-mapping>
  <!-- dbConfig配置功能 -->
  <servlet>
    <servlet-name>config</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>config</servlet-name>
    <url-pattern>/config/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>http</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>http</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>restfulapi</servlet-name>
    <servlet-class>com.tuniu.operation.platform.hogwarts.restfulapi.RestfulApiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>restfulapi</servlet-name>
    <url-pattern>/t</url-pattern>
  </servlet-mapping>
  <servlet>
	<servlet-name>DisplayChart</servlet-name>
	<servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>DisplayChart</servlet-name>
	<url-pattern>/DisplayChart</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>llt-proxy</servlet-name>
   <servlet-class>com.tuniu.operation.platform.llt.inteface.ServletEmbeddedProxy</servlet-class>
 </servlet>
 <servlet-mapping>
   <servlet-name>llt-proxy</servlet-name>
   <url-pattern>/em-task/exec</url-pattern>
 </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/success.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/success.jsp</location>
  </error-page>
</web-app>