<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.tuniu.gt.frm.dao.sqlmap.imap.IMenuMap"> 
	<sql id="list">
		<include refid="tuniu.frm.core.IMapBase.fetchListBasic"/>
		<where>
			<if test="fatherId != null">
				father_id=#{fatherId}
			</if>
			
			<if test="id != null">
				id=#{id}
			</if>
		</where>
		<choose>
			<when test="orderBy != null">
				order by #{orderBy}
			</when>
			<otherwise>
				order by tree_father_id,sequence,id asc
			</otherwise>
		</choose>
		
		<if test="dataLimitStart != null">
			limit #{dataLimitStart}
			<if test="dataLimitEnd != null">
				,#{dataLimitEnd}
			</if>
		</if>
	</sql>
	<select id="fetchList" parameterType="Map"  resultMap="listResultEntity">
		<include refid="list"/>
	</select>
	
	<select id="fetchListOrg" parameterType="Map"  resultType="Map">
		<include refid="list"/>
	</select> 
	
	<resultMap id="listResultEntity" type="com.tuniu.gt.frm.entity.MenuEntity">  
		
		<result property="addTime" column="add_time" />
		
		<result property="updateTime" column="update_time" />
		
		<result property="target" column="target" />
		
		<result property="sequence" column="sequence" />
		
		<result property="menuName" column="menu_name" />
		
		<result property="isExternal" column="is_external" />
		
		<result property="menuUrl" column="menu_url" />
		
		<result property="methods" column="methods" />
		
		<result property="fatherId" column="father_id" />
		
		<result property="treeFatherId" column="tree_father_id" />
		
		<result property="isMenu" column="is_menu" />
		
		<result property="treeId" column="tree_id" />
		
		<result property="delFlag" column="del_flag" />
		
		<result property="depth" column="depth" />
		
		<result property="param" column="param" />
		
	</resultMap>
	
	
	<select id="fetchListMap" parameterType="Map"  resultMap="listResultMap">
		<include refid="list"/>
	</select>
	<resultMap id="listResultMap" type="Map">
		
		<result property="addTime" column="add_time"/>
		
		<result property="updateTime" column="update_time"/>
		
		<result property="target" column="target"/>
		
		<result property="sequence" column="sequence"/>
		
		<result property="menuName" column="menu_name"/>
		
		<result property="isExternal" column="is_external"/>
		
		<result property="menuUrl" column="menu_url"/>
		
		<result property="methods" column="methods"/>
		
		<result property="fatherId" column="father_id"/>
		
		<result property="treeFatherId" column="tree_father_id"/>
		
		<result property="isMenu" column="is_menu"/>
		
		<result property="treeId" column="tree_id"/>
		
		<result property="delFlag" column="del_flag"/>
		
		<result property="depth" column="depth"/>
		
		<result property="param" column="param"/>
		
	</resultMap>
	

	<select id="fetchlistAndPrivilege" resultMap="andPrivilegeResultMap">
		select a.*,b.id as privilege_id,b.privilege_name 
		from frm_menu a left join frm_menu_privilege b on a.id=b.menu_id  
		<if test="privilegeIds != null">
				and b.id in (${privilegeIds})
		</if>
		<where>
			<if test="menuIds != null">
				a.id in (${menuIds}) 
			</if>
		</where>
		order by a.tree_father_id,a.sequence,a.id asc
	</select>
	
	<resultMap id="andPrivilegeResultMap" type="com.tuniu.gt.frm.entity.MenuEntity">
		<id property="id" column="id" /> 
		<result property="menuName" column="menu_name" />
		<result property="menuUrl" column="menu_url" />
		<result property="fatherId" column="father_id" />
		<result property="treeFatherId" column="tree_father_id" />
		<result property="treeId" column="tree_id" />
		<result property="depth" column="depth" />
		<result property="delFlag" column="del_flag" />
		<result property="target" column="target" />
		<result property="sequence" column="sequence" />
		<result property="addTime" column="add_time" />
		<result property="updateTime" column="update_time" />
		<result property="methods" column="methods" />
		<result property="isMenu" column="is_menu" />
		<result property="isExternal" column="is_external" />
		<result property="param" column="param" />
		<collection property="privileges" ofType="com.tuniu.gt.frm.entity.MenuPrivilegeEntity">
			<id property="id" column="privilege_id"></id>
			<result property="privilegeName" column="privilege_name"></result> 
		</collection>
	</resultMap>

	
	<select id="get" parameterType="Map"  resultMap="listResultEntity">
		<include refid="tuniu.frm.core.IMapBase.fetchListBasic"/>
		where 
		<choose>
			<when test="id != null">
				id=#{id}
			</when>
			<when test="fatherId != null">
				father_id=#{fatherId}
			</when>
		</choose>
		limit 1 
	</select>
	
	
	<sql id="insert">
		<include refid="tuniu.frm.core.IMapBase.insertBasic"/>
		(
		  add_time,
		 
		  update_time,
		 
		  target,
		 
		  sequence,
		 
		  menu_name,
		 
		  is_external,
		 
		  menu_url,
		 
		  methods,
		 
		  father_id,
		 
		  tree_father_id,
		 
		  is_menu,
		 
		  tree_id,
		 
		  del_flag,
		 
		  depth,
		 
		  param
		 
		) values  (
		
		  #{e.addTime}, 
		 
		  #{e.updateTime}, 
		 
		  #{e.target}, 
		 
		  #{e.sequence}, 
		 
		  #{e.menuName}, 
		 
		  #{e.isExternal}, 
		 
		  #{e.menuUrl}, 
		 
		  #{e.methods}, 
		 
		  #{e.fatherId}, 
		 
		  #{e.treeFatherId}, 
		 
		  #{e.isMenu}, 
		 
		  #{e.treeId}, 
		 
		  #{e.delFlag}, 
		 
		  #{e.depth},
		 
		  #{e.param}
		 
		)
	</sql>
		
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="Map" flushCache="true" statementType="PREPARED" > 
		<include refid="insert"/>
	</insert>
	
	<sql id="update">
		<include refid="tuniu.frm.core.IMapBase.updateBasic"/>
		<set>  
			
				<if test="e.addTime != null">add_time=#{e.addTime},</if>
			
				<if test="e.updateTime != null">update_time=#{e.updateTime},</if>
			
				<if test="e.target != null">target=#{e.target},</if>
			
				<if test="e.sequence != null">sequence=#{e.sequence},</if>
			
				<if test="e.menuName != null">menu_name=#{e.menuName},</if>
			
				<if test="e.isExternal != null">is_external=#{e.isExternal},</if>
			
				<if test="e.menuUrl != null">menu_url=#{e.menuUrl},</if>
			
				<if test="e.methods != null">methods=#{e.methods},</if>
			
				<if test="e.fatherId != null">father_id=#{e.fatherId},</if>
			
				<if test="e.treeFatherId != null">tree_father_id=#{e.treeFatherId},</if>
			
				<if test="e.isMenu != null">is_menu=#{e.isMenu},</if>
			
				<if test="e.treeId != null">tree_id=#{e.treeId},</if>
			
				<if test="e.delFlag != null">del_flag=#{e.delFlag},</if>
			
				<if test="e.depth != null">depth=#{e.depth}</if>
			
				<if test="e.param != null">param=#{e.param},</if>
			
		</set>
	    where id=#{e.id}
	</sql>	
	
	
	<update id="update" parameterType="Map" flushCache="true" statementType="PREPARED">
		<include refid="update"/>
	</update>


	<update id="updateChildsTreeFatherId" parameterType="Map" flushCache="true" statementType="PREPARED">
		<include refid="tuniu.frm.core.IMapBase.updateBasic"/>
		<set>
			tree_father_id = concat(#{newFatherId},substr(tree_father_id,${len}+1)) ${addSet}
		</set>
		where substr(tree_father_id,1,#{len}) = #{oldFatherId} 
	</update>
	
</mapper>
