<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.tuniu.qms.tecksupport.dao.TechSupportMapper"> 
	
	<update id="update" parameterType="string">
		${value}
	</update>
	
	<select id="getAffectRows" parameterType="string"   resultType="int">
			select count(*) as count from (${value}) t
	</select>
	
</mapper>
