.Wdate{
	border:#999 1px solid;
	height:20px;
	background:#fff url(datePicker.gif) no-repeat right;
}

.MyWdate{
	border:#999 1px solid;
	height:20px;
	line-height:20px;
	background:#fff url(mydatePicker.gif) no-repeat right;
	font-size:14px;
	font-family:arial;
	cursor:pointer;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}