<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tuniu.qms.qc.dao.DevFaultBillMapper">


	<insert id="add" parameterType="com.tuniu.qms.qc.model.DevFaultBill">
		INSERT INTO qc_dev_fault (
			<if test="qcId != null">qcId,</if>
			<if test="qptId != null">qptId,</if>
			<if test="causeAnalysis != null">causeAnalysis,</if>
			<if test="treMeasures != null">treMeasures,</if>
			<if test="impMeasures != null">impMeasures,</if>
			<if test="onLine != null">onLine,</if>
			<if test="jiraAddress != null">jiraAddress,</if>
			<if test="influenceSystem != null">influenceSystem,</if>
			<if test="addPerson != null">addPerson,</if>
			<if test="useFlag != null">useFlag,</if>
			delFlag
		) VALUES (
			<if test="qcId != null">#{qcId},</if>
			<if test="qptId != null">#{qptId},</if>
			<if test="causeAnalysis != null">#{causeAnalysis},</if>
			<if test="treMeasures != null">#{treMeasures},</if>
			<if test="impMeasures != null">#{impMeasures},</if>
			<if test="onLine != null">#{onLine},</if>
			<if test="jiraAddress != null">#{jiraAddress},</if>
			<if test="influenceSystem != null">#{influenceSystem},</if>
			<if test="addPerson != null">#{addPerson},</if>
			<if test="useFlag != null">#{useFlag},</if>
			0
		)
	</insert>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM qc_dev_fault WHERE id=#{id}
	</delete>
	
	<update id="update" parameterType="com.tuniu.qms.qc.model.DevFaultBill" flushCache="true" statementType="PREPARED">
		UPDATE qc_dev_fault 
		<set>
			<if test="qptId != null">qptId=#{qptId},</if>
			<if test="causeAnalysis != null">causeAnalysis=#{causeAnalysis},</if>
			<if test="treMeasures != null">treMeasures=#{treMeasures},</if>
			<if test="impMeasures != null">impMeasures=#{impMeasures},</if>
			<if test="onLine != null">onLine=#{onLine},</if>
			<if test="jiraAddress != null">jiraAddress=#{jiraAddress},</if>
			<if test="influenceSystem != null">influenceSystem=#{influenceSystem},</if>
			<if test="delFlag != null">delFlag=#{delFlag},</if>
			updateTime=CURRENT_TIMESTAMP
		</set>
		WHERE id=#{id}
	</update>
	
	<select id="get" parameterType="Integer" resultType="com.tuniu.qms.qc.model.DevFaultBill">
		SELECT *  FROM qc_dev_fault
		 
		  WHERE delFlag =0 and id=#{id}
	</select>

	<select id="list" parameterType="com.tuniu.qms.qc.dto.DevFaultBillDto" resultType="com.tuniu.qms.qc.model.DevFaultBill">
		SELECT * FROM qc_dev_fault  
		 where delFlag =0
		 <if test="qcId != null"> and qcId=#{qcId}</if>
	</select>

   <select id="getFaultByQcId" parameterType="Integer" resultType="com.tuniu.qms.qc.model.DevFaultBill">
        
        select * from qc_dev_fault where delFlag =0 and qcId=#{qcId}
   
   
   </select>
</mapper>